{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Gallery</title>
</head>

<body class="gallary">
  <div id="header">
    <img id="img_h" src="{% static 'assets/images/logo.png' %}" alt="Loading..">
    <div class="header_menu">
      <h3 id="home"><a href="{% url 'home' %}">Home</a></h3>
      <h3 id="video"><a href="{% url 'yoga_videos' %}">Videos</a></h3>
      <h3 id="post"><a href="{% url 'yoga_post' %}">Posts</a></h3>
      <h3 id="gallery"><a href="{% url 'yoga_gallery' %}">Gallery</a></h3>
      <h3 id="review"><a href="{% url 'yoga_review' %}">Reviews</a></h3>
      <h3 id="about"><a href="{% url 'about_us' %}">About</a></h3>
    </div>
  </div>

  </div>
  <div id="maindiv">
    <img src="{% static 'assets/images/gimg_1.jpg' %}"  alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_2.jpg' %}"  alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_3.jpg' %}" alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_4.jpg' %}" alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_5.jpg' %}" alt="Loading.." id="p1">

    <img src="{% static 'assets/images/gimg_6.jpg' %}" alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_7.jpg' %}" alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_8.jpg' %}" alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_9.jpg' %}" alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_10.jpg' %}"  alt="Loading.." id="p1">

    <img src="{% static 'assets/images/gimg_11.jpg' %}"  alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_12.jpg' %}"  alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_13.jpg' %}"  alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_14.jpg' %}"  alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_15.jpg' %}"  alt="Loading.." id="p1">

    <img src="{% static 'assets/images/gimg_16.jpg' %}"  alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_17.jpg' %}"  alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_18.jpg' %}"  alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_19.jpg' %}"  alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_20.jpg' %}"  alt="Loading.." id="p1">

    <img src="{% static 'assets/images/gimg_21.jpg' %}"  alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_1.jpg' %}" alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_2.jpg' %}" alt="Loading.." id="p1">
    <img src="{% static 'assets/images/gimg_3.jpg' %}" alt="Loading.." id="p1">
    
  </div>

  <div class='post_data_list_wrp'>
    {% for i in data %}
      <div class="post_list">
        {{ i.title  | safe}} 
        <img src="{{i.image_file.url}}" alt="" id="img1" />
      </div>
    {% endfor %} 
  </div>

  <div id="footer">
    <div class="footer_logo">
      <img src="{% static 'assets/images/logo.png' %}" alt="Loading..." id="img_f">
      <p id="text10">Mind, Body and Sprite!</p>
    </div>
    <div class="footer_link">
      <p id="links">Links</p>
      <div class="link_list">
      <p id="Home_f"><a href="{% url 'home' %}">Home</a></p>
      <p id="Video_f"><a href="{% url 'yoga_videos' %}">Videos</a></p>
      <p id="post_f"><a href="{% url 'yoga_post' %}">Posts</a></p>
      <p id="gallery_f"><a href="{% url 'yoga_gallery' %}">Gallery</a></p>
      <p id="review_f"><a href="{% url 'yoga_review' %}">Reviews</a></p>
      <p id="about_f"><a href="{% url 'about_us' %}">About</a></p>
    </div>
    </div>
    <div class="footer_social_icon">
      <p id="follow">Follow Us</p>
      <a href="https://www.facebook.com/SejalShahVirmani"><img src="{% static 'assets/images/facebook.png' %}"
          alt="Loading..." id="facebook"></a>
      <a href="https://youtube.com/channel/UCSaQ0GrPfLjuqaG8Hnd5Z0Q"><img src="{% static 'assets/images/Youtube.png' %}"
          alt="Loading..."></a>
    </div>
  </div>
</body>

</html>