{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Posts</title>
</head>

<body>
  <div id="header">
    <img id="img_h" src="{% static 'assets/images/logo.png' %}" alt="Loading..">
    <div class="header_menu">
      <h3 id="home"><a href="./Home.html">Home</a></h3>
      <h3 id="video"><a href="./Videos.html">Videos</a></h3>
      <h3 id="post"><a href="./post.html">Posts</a></h3>
      <h3 id="gallery"><a href="./gallery.html">Gallery</a></h3>
      <h3 id="review"><a href="./review.html">Reviews</a></h3>
      <h3 id="about"><a href="./about.html">About</a></h3>
    </div>
  </div>
<div class="post_list">
  <img src="" alt="" id="img1">
  <img src="" alt="" id="img1">
  <img src="" alt="" id="img1">
</div>
  <div id="footer">
    <div class="footer_logo">
      <img src="./assets/images/logo.png" alt="Loading..." id="img_f">
      <p id="text10">Mind, Body and Sprite!</p>
    </div>
    <div class="footer_link">
      <p id="links">Links</p>
      <div class="link_list">
      <p id="Home_f"><a href="./assets/images/Home.html">Home</a></p>
      <p id="Video_f"><a href="./assets/images/Videos.html">Videos</a></p>
      <p id="post_f"><a href="./assets/images/post.html">Posts</a></p>
      <p id="gallery_f"><a href="./assets/images/gallery.html">Gallery</a></p>
      <p id="review_f"><a href="./assets/images/review.html">Reviews</a></p>
      <p id="about_f"><a href="./assets/images/about.html">About</a></p>
    </div>
    </div>
    <div class="footer_social_icon">
      <p id="follow">Follow Us</p>
      <a href="https://www.facebook.com/SejalShahVirmani"><img src="{% static 'assets/images/facebook.png' %}"
          alt="Loading..." id="facebook"></a>
      <a href="https://youtube.com/channel/UCSaQ0GrPfLjuqaG8Hnd5Z0Q"><img src="{% static 'assets/images/youtube.png' %}"
          alt="Loading..."></a>
    </div>
  </div>
</body>

</html>