{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Videos</title>
</head>

<body class="videos">
  <div id="header">
    <img id="img_h" src="{% static 'assets/images/logo.png' %}" alt="Loading..">
    <div class="header_menu">
      <h3 id="home"><a href="{% url 'home' %}">Home</a></h3>
      <h3 id="video"><a href="{% url 'yoga_videos' %}">Videos</a></h3>
      <h3 id="post"><a href="{% url 'yoga_post' %}">Posts</a></h3>
      <h3 id="gallery"><a href="{% url 'yoga_gallery' %}">Gallery</a></h3>
      <h3 id="review"><a href="{% url 'yoga_review' %}">Reviews</a></h3>
      <h3 id="about"><a href="{% url 'about_us' %}">About</a></h3>
    </div>
  </div>

  <div>
    <h1 id="text1">Videos</h1>
  </div>
   <div class="container">
    <div class="row">
      
  {% for i in data %}
  <div id="vb1" class="col-lg-4 mb-3">
    <div class="video_box">
    <span id="vt1"> {{ i.title | safe }} </span>
    <iframe width="100%" height="300" src="{{ i.video_url }}"></iframe>
  </div>
  </div>
{% endfor %} 
    </div>
    
  </div> 
 
  
   
 
  </div>
  <div id="footer">
    <div class="footer_logo">
      <img src="{% static 'assets/images/logo.png' %}" alt="Loading..." id="img_f">
      <p id="text10">Mind, Body and Sprite!</p>
    </div>
    <div class="footer_link">
      <p id="links">Links</p>
      <div class="link_list">
      <p id="Home_f"><a href="{% url 'home' %}">Home</a></p>
      <p id="Video_f"><a href="{% url 'yoga_videos' %}">Videos</a></p>
      <p id="post_f"><a href="{% url 'yoga_post' %}">Posts</a></p>
      <p id="gallery_f"><a href="{% url 'yoga_gallery' %}">Gallery</a></p>
      <p id="review_f"><a href="{% url 'yoga_review' %}">Reviews</a></p>
      <p id="about_f"><a href="{% url 'about_us' %}">About</a></p>
    </div>
    </div>
    <div class="footer_social_icon">
      <p id="follow">Follow Us</p>
      <a href="https://www.facebook.com/SejalShahVirmani"><img src="{% static 'assets/images/facebook.png' %}"
          alt="Loading..." id="facebook"></a>
      <a href="https://youtube.com/channel/UCSaQ0GrPfLjuqaG8Hnd5Z0Q"><img src="{% static 'assets/images/Youtube.png' %}"
          alt="Loading..."></a>
    </div>
  </div>
  <script src="try1.js"></script>
</body>

</html>